@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* index.css or globals.css */
body {
  margin: 0;
  overflow-x: hidden;
  /* background-color: #323C29; */
}
@keyframes ripple {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

.group-hover\:animate-ripple:hover .animate-ripple {
  animation: ripple 0.6s ease-out;
}

.animate-ripple {
  animation: ripple 0.6s ease-out;
}

.group:hover .group-hover\:animate-ripple {
  animation: ripple 0.6s ease-out;
}



